<a href="https://colab.research.google.com/github/Little-Pink-Dragon/FinalTask/blob/main/%D0%94%D0%BE%D0%BC%D0%B0%D1%88%D0%BD%D0%B5%D0%B5%20%D0%B7%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Условие 1:**

Оформляйте ноутбук, используя эти советы:

Номер задачи - заголовок 2

Номер подзадачи - заголовок 3

Предоставленные наборы данных оформляйте, как код

**Условие 2:**

На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [26]:
def fruits(**fruits):
    total_fruits = sum(fruits.values())
    return f'Total fruits: {total_fruits}'

In [27]:
print(fruits(oranges=8, grapefruitы=2, apples=6))

Total fruits: 16

**Условие 3:**

Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты:

**[100, 125, -90, 345, 655, -1, 0, 200]**

*Используйте list comprehensions*

In [28]:
expenses = [100, 125, -90, 345, 655, -1, 0, 200]

print(f'Total costs: {sum([i for i in expenses if i > 0 ])}')

Total costs: 1425

**Условие 4:**

Даны два списка.

Дата покупки:

**['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']**

Суммы покупок по датам

**[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]**

**Условие 4.1:**

 Найдите, какая выручка у компании в ноябре

*Используйте list comprehensions*

In [29]:
date = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', 
        '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', 
        '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', 
        '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', 
        '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', 
        '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
purchases = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 
        4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 
        2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [30]:
print(f'Income: {sum([purchases[i] for i in range(len(date)-1) if "-11" in date[i]])}')

Income: 25098

**Условие 4.2:**

Найдите выручку компании в зависимости от месяца


Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.

*Используйте аннотирование типов.*

In [31]:
def Month_and_income(date: list, purchases: list) -> dict:
    
    Month_and_income = {}
    
    for i in range(len(date)):
        
        if date[i].split('-')[1] in Month_and_income.keys():
            Month_and_income[date[i].split('-')[1]] += purchases[i]
        else:
            Month_and_income[date[i].split('-')[1]] = purchases[i]
            
    return Month_and_income

print(Month_and_income(date, purchases))

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}